.header {
    width: 100%;
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
    max-height: 4.5rem;
    padding-left: 10%;
    padding-right: 12%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
  }
  .upcoming-events__header{
    font-family: 'Nova Mono', monospace;
    font-weight: 700;
    size: 40px;
    line-height: 48.72px;
    margin-left: 177px;
  }
  .header-logo {
    width: 90%;
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
  }
  .header-navigation-list {
    display: flex;
    column-gap: 8%;
  }
  .nav-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.83px;
    color:rgba(255, 255, 255, 1);
  }
  .logo-link-tittle {
    color:rgba(255, 255, 255, 1);
  }